-
    let cards = {
        card1: {
            cardimg: false,
            src: "../img/bicycle-driver.png",
            alt: "bicycle-driver",
            h3: "Тур на велосипедах",
            price: "335 грн*",
            info: "Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод.",
        },
        card2: {
            cardimg: true,
            src: "../img/circle.png",
            alt: "circle",
            h3: "Екскурсія на острів",
            price: "500 грн*",
            info: "Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року .",
        },
        card3: {
            cardimg: true,
            src: "../img/contact.png",
            alt: "contact",
            h3: "Особливе замовлення",
            price: "250 грн*",
            info: "Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші. ",
        }
    }

-
    let bottom_cards = {
        card1: {
            cardimg: true,
            src: "../img/bottom-img1.png",
            alt: "img1",
            h3: "Романтична подорож на 2",
            info: "Подорож у найромантичніші куточки світу, занурить вас у дивовижні пейзажі природи.",
            price: "2599 грн.",
            a: "ЗАМОВИТИ",
        },
        card2: {
            cardimg: true,
            src: "../img/bottom-img2.png",
            alt: "img2",
            h3: "Велотур",
            info: "Бажаєте прокататись з вітерцем, та ще й з критим краєвидом довкола? Тоді швидше замовляй велотур!",
            price: "555 грн.",
            a: "ЗАМОВИТИ",
        },
        card3: {
            cardimg: true,
            src: "../img/bottom-img3.png",
            alt: "img3",
            h3: "На острови!",
            info: "Хочеш зануритись у тишу, місце де не має натовпу, та панує дмка природа? Тоді вперед за пригодами!",
            price: "1559 грн.",
            a: "ЗАМОВИТИ",
        },
        card4: {
            cardimg: true,
            src: "../img/bottom-img4.png",
            alt: "img4",
            h3: "Катання на сьорфінгу",
            info: "Хочеш отримати екстрим та мега вражень одночасно? Тоді вперед ловити хвилі!",
            price: "999 грн",
            a: "ЗАМОВИТИ",
        }
    }

mixin cards (item)
    figure.card.col.mx-2
        figcaption.hover-card
            a(href="#").card-a
                if (item.cardimg)
                    .images.card-img
                        img(src=item.src, alt=item.alt)
                else
                    .images
                        img(src=item.src, alt=item.alt)
                h3.card-h3= item.h3 
                p.price= item.price 
                p.card-info= item.info

mixin bottom_cards (item)
    figure.bottom-card.col
        figcaption.hover-bottom-card
            a(href="#").card-a
                if (item.cardimg)
                    .images.bottom-card-img
                        img(src=item.src, alt=item.alt)
                else
                    .images
                        img(src=item.src, alt=item.alt)
                h3.bottom-card-h3= item.h3 
                p.bottom-card-info= item.info
                p.bottom-price= item.price 
                a(href="#").ordered= item.a